body {
  background:#e2e2e2;
}
.area-padding {
  padding:60px 0px 60px 0px;
}
.divider {
  border:1px solid #dd0000;
  margin:10px 0px 30px 0px;
}
h1 {
  font-size:42px;
  font-weight:600;
}
h2 {
  font-size:34px;
  font-weight:600;
}
h3 {
  font-size:20px;
  font-weight:600;
}
h4 {
  font-size:18px;
  font-weight:600;
}
h5 {
  font-size:16px;
  font-weight:600;
}
a {
  /*color:#000;*/
  
}
a:hover {
  color:#dd0000;
}
/*********** Brand List CSS **********/
.brand-list-area {
  background:#4b4b4b; 
  padding:20px 0px 20px 0px;
  color: #cccccc;
}

.themecolor{
  color: #0095eb;
}

.brand-list {
  padding: 0;
  list-style: none; 
  margin: 0;
}

/**************** FOOTER CSS ********************/
/* Footer */
.footer {
  position: relative;
  background-color: #545454;
  color: #cccccc;
  padding: 55px 0 40px;
  font-size: 14px;
  line-height: 24px;
}
.footer h4{
  color: #fff;
}
.footer h4:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 200px;
    height: 2px;
}

.vl{
    border-left: 2px solid #1e1e1e;
    height: 200px;
    position: absolute;
    margin-left: 0px;
    left: -10%;
    padding-left: 5px;
    top: 0;
}
.footer ul {
    list-style: none;
    line-height: 2.2em;
    padding-left:0px;
}

.footer-one .list_check li{
    background: url(../img/list_check.png) no-repeat 20px 5px;
    position: relative;
    margin: 0 0 20px 0;
    padding-left: 50px;
}

.footer-one .list_check li:after {
    content: "";
    width: 70px;
    height: 1px;
    overflow: hidden;
    /*background: rgba(0,0,0,.08);*/
    background: rgba(255,255,255,.08);
    position: absolute;
    left: 0;
    bottom: -11px;
}
/*footer bottom */
.footer-bottom {
  padding-top: 30px;
  min-height: 33px;
  padding-bottom: 15px;
  background:#545454; 
  color: #cccccc;
  /*border-top: 1px solid rgba(0,0,0,0.09);*/
  border-top: 1px solid rgba(255,255,255,.1);
}
/* Social Icons */
.social-icons{
  margin: 0;padding: 0;
  font-size : 10px;
}
.social {
  margin:7px 7px 7px 0px;color:#b40028;}
#social-fb:hover {
  color: #3B5998;
  transition:all .25s;
}
 #social-tw:hover {
  color: #4099FF;
  transition:all .25s;
}
 #social-gp:hover {
  color: #d34836;
  transition:all .25s;
}
 #social-em:hover {
  color: #f39c12;
  transition:all .25s;
}



/***************** Carousel CSS **************/
.margin-t70 {
  margin-top:70px;
}
.item img {
  width:100%; 
  max-height:750px;
  display: block;
}
.caraous-title {
    position: absolute;
    top: 20%;
    left: 15.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #000;
}
.caraous-title h1 {
  color:#000;
  font-size:45px; 
  font-weight:400;
}
.caraous-title h3 {
  margin-bottom:30px;
  color:#fff;
  font-size:20px;
}
.caraous-title span {
  color:#fff;
  font-size:20px; 
  background:#dd0000;
}
.caraous-img-box img {
  width:50%;
}
/* Button */
.site-btn{
  padding:12px 25px 12px 25px;
  background:#000;
  color:#fff;
  border:transparent;
  font-size:16px;
}
.site-btn:hover{
  background:#dd0000;
  color:#fff;
  border:transparent;
}


/************** NAVIGATION ***************/
.caret-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;

  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
/*.dropdown-menu {padding:0px;}
.dropdown-menu > li > a {
    color: #514f4f;
    text-decoration: none;
    background-color: #fff;
}
.dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #dd0000;
}
.dropdown-menu > li > a {
    padding:8px; 
    border-bottom:1px solid #e2e2e2;
}*/

.navbar-default {
  background-color: #fff;
  /*padding:25px 0px 15px 0px;*/
  padding:10px 0px 10px 0px;
  font-weight:400;
  /*letter-spacing:2px;*/
  font-size:12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-default .navbar-brand {
  color: #6a6c74;
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
}
.navbar-default .navbar-brand img{
  /*height: 250%;*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0095eb;
}
.navbar-default .navbar-text {
  color: #6a6c74;
}
.navbar-default .navbar-nav > li > a {
  color: #6a6c74;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family:"Roboto", Arial, Tahoma, sans-serif;
}
.navbar-default .navbar-nav .btn:hover,
.navbar-default .navbar-nav .btn:focus  {
  background-color: #0095eb;
  opacity: 0.7;
  color: #000;
}
.navbar-right .btn{
  color: #fff !important;
  border: none;
  background-color: #0095eb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0095eb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0095eb;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #e93402;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e93402;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dfdfdf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dfdfdf;
}
.navbar-default .navbar-link {
  color: #dfdfdf;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  /*.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dfdfdf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #e93402;
  }*/
}

@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 991px){
  .vl{
      display: none;
  }
}

@media (max-width: 768px){
  .navbar-default {
      padding: 5px 0px 20px 0px;
  }
}
